div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Find a Game
    p.lead

    .ui-view
        button.btn.btn-primary.btn-lg(ui-sref='game.waiting') Play Now

.container
  .row
    .col-lg-12
      h1 Looking for New Players
      ul.nav.nav-tabs.nav-stacked.col-lg-12.game-list
        li(ng-repeat='game in gamesCache | filter:{state:"open"}' ng-include='"components/games/listpreview.html"')

      h1 Games in Progress
      .clear
      ul.nav.nav-tabs.nav-stacked.col-lg-12.game-list
        li(ng-repeat='game in gamesCache | filter:{state:"open"}' ng-include='"components/games/listpreview.html"')

      h1 Past Games
      ul.nav.nav-tabs.nav-stacked.col-lg-12.game-list
        li(ng-repeat='game in gamesCache | filter:{state:"open"}' ng-include='"components/games/listpreview.html"')


  form.thing-form
    label Start a new game
    p.input-group
      input.form-control(type='text', placeholder='My awesome game name', ng-model='newGame')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addGame()') Add New
