div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Current Games
    p.lead

    .ui-view
        button.btn.btn-primary.btn-lg(ui-sref='game.waiting') Just start!
