.container
  .row
    .col-lg-12
      form.message-form
        label Enter your gif search terms {{ getCurrentUser().name }}
        p.input-group
          input.form-control(type='text', placeholder='Add a new search phrase here', ng-model='newTerms.text')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='playTerms()') Play Terms

  .row(ng-repeat="game in gamesCache" ng-show="game._id == gameId")
    .col-lg-8
      h1 Playing {{game.name}}
      .panel.panel-default(ng-repeat="message in game.messages.slice().reverse()")
        .panel-heading
          .game-gif-query(data-fittext) {{message.text}}
        .panel-body(ng-show="message.gif != null")
          img.game-gif(src='{{message.gif}}')
        .panel-body(ng-show="message.gif == null")
          .spinner-container
            div(style="line-height:50px;display:inline-block;width:30px;height:30px" us-spinner="{lines: 7, length: 40, width: 30, radius: 0, corners: 1, rotate: 0, direction: 1, color: '#000', speed: 1.6, trail: 52, shadow: false, hwaccel: false, className: 'spinner', zIndex: 2e9, top: '50%', left: '50%'}")
    .col-lg-4
      h2 {{game.players.length}} Players
      ul
        li(ng-repeat="player in game.players")
          .span {{player.name}}
          .span(ng-show="$index === game.turnPlayerIndex") Is current player
