p.lead Waiting to join...

.spinner-container
  div(style="line-height:50px;display:inline-block;width:30px;height:30px" us-spinner="{lines: 5, length: 16, width: 30, radius: 17, corners: 0.4, rotate: 54, direction: 1, color: '#000', speed: 0.5, trail: 100, shadow: true, hwaccel: false, className: 'spinner', zIndex: 2e9, top: '50%', left: '50%' }")

button.btn.btn-primary.btn-lg(ui-sref='game.list') Back to list
